:root {
  --cqb-green: #4ADE80;
  --cqb-yellow: #FACC15;
  --cqb-red: #F87171;
  --cqb-gray: #94A3B8;
  --cqb-green-light: #86EFAC;
  --cqb-yellow-light: #FDE047;
  --cqb-red-light: #FCA5A5;
  --cqb-gray-light: #CBD5E1;
  --cqb-red-dark: #EF4444;
  --cqb-yellow-dark: #CA8A04;
}
